*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Happy Monkey', cursive;
}

table, tr, td {
    border-collapse: collapse;    
}

td {
    border: 1px black solid;    
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

td:nth-child(3n){
    border-right: 3px #000 solid;
}

td:first-child{
    border-left: 3px #000 solid;
}

tr:first-child{
    border-top: 3px #000 solid;
}

tr:nth-child(3n){
    border-bottom: 3px #000 solid;
}

input {
    font-family: 'Happy Monkey', cursive;
    font-size: 30px;
    font-weight: 600;
    border: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;        
}

input:focus{
    border: 3px orange solid;
}

.Cell.wrong{
    background-color: #FF000090;
}

h1{
    text-align: center;
    margin: 0;
    padding: 0;
}

h5{
    text-align: center;
    margin: 0;
    padding: 0;
}

.Line{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    /* border: 1px black solid; */
    /* height: 100px; */
    justify-content: flex-start;
    align-items: center;
}

.Column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
}

.Timer{
    /* padding: 10px;
    width: 150px; */
}

.helpers{
    align-self: flex-start;
}

button {
    font-family: 'Happy Monkey', cursive;
    font-weight: 600;
    margin: 10px;
    width: 130px;
    height: 30px;
    background-color: #659dbd;
    border-radius: 7px;
}

.h1timer{
    font-size: 2rem;
    font-weight: 800;
    padding: 10px;
    width: 150px;
}

.time{
    font-size: 1.7rem;
    font-weight: 800;
    padding-left: 10px;
    width: 150px; 
}

button:hover{
    transform: scale(0.98);
}

input.default{
    color: blue;
}


